<small><font style="font-size:18pt"> <i>
This Course is based on the lectures on the website: http://scipy-lectures.org/</i>
</font></small>

# 0. Set up

1. Downlaod and Install Anaconda from here https://www.anaconda.com/

2. `conda install numpy scipy matplotlib jupyterlab`

3. `jupyter-lab PIA_Week1.ipynb`

Table of contents
- 1. Getting Started
- 2. Buildin Functions
- 3. Working with Strings 
- 4. Data Structures
- 5. Control Flow Statements
- 6. Functions

# 1. Getting started
Find more details here https://gitlab.erc.monash.edu.au/andrease/Python4Maths.git

In [174]:
print("Hello World!!!")

Hello World!!!

In [175]:
1 + 2 * 3

7

## 1.1 Variables & Values

The basic types build into Python include 
- `float` (floating point numbers)
- `int` (integers) 
- `str` (unicode character strings) 
- `bool` (boolean).

In [176]:
2.0           # a simple floating point number
1e100         # a googol as floating point number
-1234567890   # an integer
True or False # the two possible boolean values
complex(1,2)  # complex number
(1.0+2j)      # the same number as above

'This is a string' # string
"It's another string"
print("""Triple quotes (also with '''), allow strings to break over multiple lines.
Alternatively \n is a newline character (\t for tab, \\ is a single backslash)""")

Triple quotes (also with '''), allow strings to break over multiple lines.
Alternatively
 is a newline character (	 for tab, \ is a single backslash)

Python also has complex numbers that can be written as follows. Note that the brackets are required.

## 1.2 Operators

### 1.2.1 Arithmetic Operators

| Symbol | Task Performed |
|----|---|
| +  | Addition |
| -  | Subtraction |
| /  | Division |
| //  | Integer division |
| %  | Modulus (remainder) |
| *  | Multiplication |
| **  | Exponentiation (power) |

In [177]:
1+2.0

3.0

In [178]:
3-1

2

In [179]:
2 * (3+0j) * 1.0

(6+0j)

In [180]:
3/4

0.75

In [181]:
3//4.0

0.0

In [182]:
15%10

5

Python natively allows (nearly) infinite length integers while floating point numbers are double precision numbers:

In [183]:
11**300

2617010996188399907017032528972038342491649416953000260240805955827972056685382434497090341496787032585738884786745286700473999847280664191731008874811751310888591786111994678208920175143911761181424495660877950654145066969036252669735483098936884016471326487403792787648506879212630637101259246005701084327338001

In [184]:
11.0**300

OverflowError: (34, 'Result too large')

### 1.2.2 Relational Operators

| Symbol | Task Performed |
|----| :--- |
| == | True, if it is equal |
| !=  | True, if not equal to |
| < | less than |
| > | greater than |
| <=  | less than or equal to |
| >=  | greater than or equal to |

In [185]:
z = 2
z == 2

True

In [186]:
z > 2

False

In [187]:
0.5 < z <= 1

False

### 1.2.3 Boolean and Bitwise Operators

|Operator|Meaning | \| | Symbol | Task Performed |
|----|--- | - |----|---|
|`and`| Logical and | \| | &  | Bitwise And |
|`or` | Logical or | \| | $\mid$  | Bitwise OR |
|`not` | Not | \| | ~  | Negate |
| &nbsp;  |&nbsp;  |  \| |  ^  | Exclusive or |
| &nbsp;|&nbsp; | \| |  >>  | Right shift |
| &nbsp;| &nbsp;| \| |  <<  | Left shift |

In [188]:
a = 2 #binary: 10
b = 3 #binary: 11
print('a & b =',a & b,"=",bin(a&b))
print('a | b =',a | b,"=",bin(a|b))
print('a ^ b =',a ^ b,"=",bin(a^b))
print('b << a =',b<<a,"=",bin(b<<a))

a & b = 2 = 0b10
a | b = 3 = 0b11
a ^ b = 1 = 0b1
b << a = 12 = 0b1100

In [189]:
print( not (True and False), "==", not True or not False)

True == True

### 1.2.4 Assignment operators

In [190]:
x = 1
x += 2 # add 2 to x
print("x is",x)
x <<= 2 # left shift by 2 (equivalent to x *= 4)
print('x is',x)
x **= 2 # x := x^2
print('x is',x)

x is 3
x is 12
x is 144

# 2. Built-in Functions

## 2.1 Converting values

In [191]:
hex(171) # hexadecmial value as string

'0xab'

In [192]:
0xAB

171

`int( )` converts a number to an integer. This can be a single floating point number, integer or a string. For strings the base can optionally be specified:

In [193]:
print(int(7.7), int('111',2),int('7'))

7 7 7

 Similarly, the function `str( )` can be used to convert almost anything to a string

In [194]:
print(str(True),str(1.2345678),str(-2))

True 1.2345678 -2

## 2.2 Mathematical functions

In [195]:
import math
math.sin(math.pi/2)
from math import * # avoid having to put a math. in front of every mathematical function
sin(pi/2) # equivalent to the statement above

1.0

## 2.3 Simplifying Arithmetic Operations

`round( )`

In [196]:
print( round(5.6231) )
print( round(4.55892, 2) )

6
4.56

`abs( )`

In [197]:
c =complex('5+2j')
print("|5+2i| =", abs(c) , "\t |-5| =", abs(-5) )

|5+2i| = 5.385164807134504 	 |-5| = 5

`divmod( )`

In [200]:
divmod(9,2)[1]

1

## 2.4 Accepting User Inputs

In [201]:
abc =  input("abc = ")
abcValue=eval(abc)
print(abc,'=',abcValue)

abc =  42

42 = 42

# 3. Working with strings
## 3.1 The Print Statement

In [202]:
print("Hello","World")

Hello World

In [203]:
print("Hello","World",sep='...',end='!!')

Hello...World!!

## 3.2 String Formating

In [204]:
string1='World'
string2='!'
print('Hello' + " " + string1 + string2)

Hello World!

The `%` operator is used to format a string inserting the value that comes after. It relies on the string containing a format specifier that identifies where to insert the value. The most common types of format specifiers are:

    - %s -> string
    - %d -> Integer
    - %f -> Float
    - %o -> Octal
    - %x -> Hexadecimal
    - %e -> exponential
    
These will be very familiar to anyone who has ever written a C or Java program and follow nearly exactly the same rules as the [`printf()`](https://en.wikipedia.org/wiki/Printf_format_string) function.

In [207]:
print("Hello %s" % string1)
print("Actual Number = %d" %18)
print("Float of the number = %2.6f" %18)
print("Octal equivalent of the number = %o" %18)
print("Hexadecimal equivalent of the number = %x" %18)
print("Exponential equivalent of the number = %e" %18)

Hello World
Actual Number = 18
Float of the number = 18.000000
Octal equivalent of the number = 22
Hexadecimal equivalent of the number = 12
Exponential equivalent of the number = 1.800000e+01

When referring to multiple variables parentheses is used. Values are inserted in the order they appear in the parantheses (more on tuples in the next section)

In [208]:
print('Print width 10: |%10s|'%'x')
print('Print width 10: |%-10s|'%'x') # left justified
print("The number pi = %.2f to 2 decimal places"%3.1415)
print("More space pi = %10.2f"%3.1415)
print("Pad pi with 0 = %010.2f"%3.1415) # pad with zeros

Print width 10: |         x|
Print width 10: |x         |
The number pi = 3.14 to 2 decimal places
More space pi =       3.14
Pad pi with 0 = 0000003.14

In [209]:
print("Hello %s %s. This meaning of life is %d" %(string1,string2,42))

Hello World !. This meaning of life is 42

## 3.3 Other String Methods
* Upper vs lower case: `upper()`, `lower()`, `captialize()`, `title()` and `swapcase()` with mostly the obvious meaning. Note that `capitalize` makes the first letter of the string a capital only, while `title` selects upper case for the first letter of every word.
* Padding strings: `center(n)`, `ljust(n)` and `rjust(n)` each place the string into a longer string of length n  padded by spaces (centered, left-justified or right-justified respectively). `zfill(n)` works similarly but pads with leading zeros.
* Stripping strings: Often we want to remove spaces, this is achived with the functions `strip()`, `lstrip()`, and `rstrip()` respectively to remove from spaces from the both end, just left or just the right respectively. An optional argument can be used to list a set of other characters to be removed.

In [210]:
print("Hello World! "*5)

Hello World! Hello World! Hello World! Hello World! Hello World!

In [211]:
s="heLLo wORLd!"
print(s.capitalize(),"vs",s.title())
print("upper: '%s'"%s.upper(),"lower: '%s'"%s.lower(),"and swapped: '%s'"%s.swapcase())
print('|%s|' % "Hello World".center(30)) # center in 30 characters
print('|%s|'% "     lots of space             ".strip()) # remove leading and trailing whitespace
print('%s without leading/trailing d,h,L or ! = |%s|',s.strip("dhL!"))
print("Hello World".replace("World","Class"))

Hello world! vs Hello World!
upper: 'HELLO WORLD!' lower: 'hello world!' and swapped: 'HEllO WorlD!'
|         Hello World          |
|lots of space|
%s without leading/trailing d,h,L or ! = |%s| eLLo wOR
Hello Class

## 3.4 Accessing parts of strings

In [212]:
s = '123456789'
print("The string '%s' string is %d characters long" % (s, len(s)) )
print('First character of',s,'is',s[0])
print('Last character of',s,'is',s[len(s)-1])

The string '123456789' string is 9 characters long
First character of 123456789 is 1
Last character of 123456789 is 9

In [213]:
print('First character of',s,'is',s[-len(s)])
print('Last character of',s,'is',s[-1])

First character of 123456789 is 1
Last character of 123456789 is 9

In [214]:
print("First three characters",s[0:3])
print("Next three characters",s[3:6])

First three characters 123
Next three characters 456

In [215]:
print("First three characters", s[:3])
print("Last three characters", s[-3:])

First three characters 123
Last three characters 789

In [216]:
# Breaking appart strings

s = "one -> two -> three"
print( s.partition("->") )
print( s.split() )
print( s.split(" -> ") )
print( ";".join( s.split(" -> ") ) )

('one ', '->', ' two -> three')
['one', '->', 'two', '->', 'three']
['one', 'two', 'three']
one;two;three

# 4 Data Structures

Built-in data structures that are included in Python, namely `list`, `tuple`, `set`, and `dict`  data structures.

## 4.1 Lists

In [217]:
a = []

In [218]:
type(a)

list

In [219]:
x = ['apple', 'orange']

### 4.1.1 Indexing

In [220]:
x[0]

'apple'

In [221]:
x[-1]

'orange'

In [222]:
y = ['carrot','potato']

In [223]:
z  = [x,y]
print( z )

[['apple', 'orange'], ['carrot', 'potato']]

In [224]:
print(z[0][1])

orange

In [225]:
["this is a valid list",2,3.6,(1+2j),["a","sublist"]]

['this is a valid list', 2, 3.6, (1+2j), ['a', 'sublist']]

### 4.1.2 Slicing

In [226]:
num = [0,1,2,3,4,5,6,7,8,9]
print(num[0:4])
print(num[4:])

[0, 1, 2, 3]
[4, 5, 6, 7, 8, 9]

In [227]:
num[:9:3]

[0, 3, 6]

### 4.1.3 Built in List Functions

In [229]:
len(num)

10

In [230]:
print("min =",min(num),"  max =",max(num),"  total =",sum(num))

min = 0   max = 9   total = 45

In [231]:
[1,2,3] + [5,4,7]

[1, 2, 3, 5, 4, 7]

In [232]:
names = ['Earth','Air','Fire','Water']

In [233]:
'Fire' in names

True

In [234]:
'Metal' in names

False

In [235]:
mlist = ['bzaa','ds','nc','az','z','klm']
print("max =",max(mlist))
print("min =",min(mlist))

max = z
min = az

In [236]:
nlist = ['5','24','93','1000']
print("max =",max(nlist))
print('min =',min(nlist))

max = 93
min = 1000

In [237]:
print('longest =',max(mlist, key=len))
print('shortest =',min(mlist, key=len))

longest = bzaa
shortest = z

In [238]:
print(list('hello world !'),'Hello   World !!'.split())

['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd', ' ', '!'] ['Hello', 'World', '!!']

In [239]:
lst = [1,1,4,8,7]
lst.append(1)
print(lst)

[1, 1, 4, 8, 7, 1]

In [240]:
lst = [1,1,4,8,7]
lst.append([1])
print(lst)

[1, 1, 4, 8, 7, [1]]

In [241]:
lst.extend([10,11,12])
print(lst)

[1, 1, 4, 8, 7, [1], 10, 11, 12]

In [242]:
lst.count(1)

2

In [73]:
lst.insert(5, 'name')
print(lst)

[1, 1, 4, 8, 7, 'name', [1], 10, 11, 12]

In [244]:
lst[5] = 'Python'
print(lst)

[1, 1, 4, 8, 7, 'Python', 10, 11, 12]

In [245]:
lst.remove('Python')
print(lst)

[1, 1, 4, 8, 7, 10, 11, 12]

In [246]:
del lst[1]
print(lst)

[1, 4, 8, 7, 10, 11, 12]

In [247]:
lst.reverse()
print(lst)

[12, 11, 10, 7, 8, 4, 1]

In [248]:
# remove `[1]`
# del lst[3]

lst.sort()
print(lst)
print(sorted([3,2,1])) # another way to sort

[1, 4, 7, 8, 10, 11, 12]
[1, 2, 3]

In [250]:
print(sorted(lst,reverse=True)) 
print(lst) # remember that `sorted` creates a copy of the list in sorted order

[12, 11, 10, 8, 7, 4, 1]
[1, 4, 7, 8, 10, 11, 12]

In [251]:
names.sort()
print(names)
names.sort(reverse=True)
print(names)

['Air', 'Earth', 'Fire', 'Water']
['Water', 'Fire', 'Earth', 'Air']

To sort based on length `key=len` should be specified as shown.

In [252]:
names.sort(key=len)
print(names)
print(sorted(names,key=len,reverse=True))

['Air', 'Fire', 'Water', 'Earth']
['Water', 'Earth', 'Fire', 'Air']

### 4.1.4 Copying a list

In [253]:
lista= [2,1,4,3]
listb = lista
print(listb)

[2, 1, 4, 3]

In [254]:
lista.sort()
lista.pop()
lista.append(9)
print("A =",lista)
print("B =",listb)

A = [1, 2, 3, 9]
B = [1, 2, 3, 9]

In [256]:
lista = [2,1,4,3]
listb = lista[:] # make a copy by taking a slice from beginning to end
print("Starting with:")
print("A =",lista)
print("B =",listb)
lista.sort()
lista.pop()
lista.append(9)
print("Finnished with:")
print("A =",lista)
print("B =",listb)

Starting with:
A = [2, 1, 4, 3]
B = [2, 1, 4, 3]
Finnished with:
A = [1, 2, 3, 9]
B = [2, 1, 4, 3]

### 4.1.5 List comprehension

In [257]:
[i**2 for i in [1,2,3]]

[1, 4, 9]

In [258]:
[10*i+j for i in [1,2,3] for j in [5,7]]

[15, 17, 25, 27, 35, 37]

In [259]:
[10*i+j for i in [1,2,3] if i%2==1 for j in [4,5,7] if j >= i+4] # keep odd i and  j larger than i+3 only

[15, 17, 37]

## 4.2 *Tuples

In [260]:
list_a = [1,2,3,4]
list_a.append(5)
print(list_a)
[1,2,3,4,5]
tuple_a = (1,2,3,4)
tuple_a.append(5) # can't do something like this

[1, 2, 3, 4, 5]

AttributeError: 'tuple' object has no attribute 'append'

In [261]:
# * Built-in Functions

x = (1, 0, 0) # perfectly OK
print(x)
print(type(x))

tup = () # empty, zero-length tuple
tup2 = tuple()

2*(27,)

tup3 = tuple([1,2,3])
print(tup3)
tup4 = tuple('Hello')
print(tup4)

print(tup3[1])
tup5 = tup4[:3]
print(tup5)

### Mapping one tuple to another
# Tupples can be used as the left hand side of assignments 
# and are matched to the correct right hand side elements 
# - assuming they have the right length

(a,b,c)= ('alpha','beta','gamma') # are optional
a,b,c= 'alpha','beta','gamma' # The same as the above
print(a,b,c)
a,b,c = ['Alpha','Beta','Gamma'] # can assign lists
print(a,b,c)
[a,b,c]=('this','is','ok') # even this is OK
print(a,b,c)

(1, 0, 0)
<class 'tuple'>
(1, 2, 3)
('H', 'e', 'l', 'l', 'o')
2
('H', 'e', 'l')
alpha beta gamma
Alpha Beta Gamma
this is ok

## 4.3 *Sets

Sets are mainly used to eliminate repeated numbers in a sequence/list. It is also used to perform some standard set operations.

Sets are declared as `set()` which will initialize a empty set. Also `set([sequence])` can be executed to declare a set with elements. Note that unlike lists, the elements of a set are not in a sequence and cannot be accessed by an index.

In [262]:
text = "Hello World!"
print(list(text))
['H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd', '!']
print(set(text))
{'H', 'W', 'o', ' ', 'l', 'r', '!', 'e', 'd'}

['H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd', '!']
{'l', 'W', 'r', '!', 'o', 'd', 'e', 'H', ' '}

{' ', '!', 'H', 'W', 'd', 'e', 'l', 'o', 'r'}

In [263]:
text = "Hello World!"
list_a = list(text)
print(list_a[:2])
['H','e']
set_a = set(text)
print(set_a[:2]) # can't do something like this

['H', 'e']

TypeError: 'set' object is not subscriptable

In [264]:
# * Built-in Functions

set1 = set()
print(type(set1))

set0 = set([1,2,2,3,3,4])
set0 = {3,3,4,1,2,2} # equivalent to the above
print(set0) # order is not preserved

type({})

set1 = set([1,2,3])
set2 = set([2,3,4,5])

set1.union(set2)
print(set1)

set1.add(0)
print(set1)


set1.intersection(set2)
print(set1)

set1.difference(set2)
print(set1)

set1.remove(2)
print(set1)

set1.clear()
print(set1)

<class 'set'>
{1, 2, 3, 4}
{1, 2, 3}
{0, 1, 2, 3}
{0, 1, 2, 3}
{0, 1, 2, 3}
{0, 1, 3}
set()

### *List or Set or Tuple ?

|Data Structure|\||Mutable | Ordered | Indexing/Slicing | Duplicate Elements|
|--------------|--|--------|---------|------------------|-------------------|
|`list`        |\|| True   | True    | True             | True              |
|`tuple`       |\|| False  | True    | True             | True              |
|`set`         |\|| True   | False   | False            | False             |

In [265]:
a = [1,2,3,'a',1,3,5]
print(tuple(a))
(1, 2, 3, 'a', 1, 3, 5)
print(set(a))
{1, 2, 3, 5, 'a'}
b = {'a',1, 4, 8}
print(list(b))
[8, 1, 4, 'a']
print(tuple(b))
(8, 1, 4, 'a')

(1, 2, 3, 'a', 1, 3, 5)
{'a', 1, 2, 3, 5}
['a', 1, 4, 8]
('a', 1, 4, 8)

(8, 1, 4, 'a')

## 4.4 Dictionary

In [266]:
# Creating a Dictionary
# with Integer Keys
Dict = {1: 'Geeks', 
        2: 'For', 
        3: 'Geeks'}
print("\nDictionary with the use of Integer Keys: ")
print(Dict)
 
# Creating a Dictionary
# with Mixed keys
Dict = {'Name': 'Geeks', 
        1: [1, 2, 3, 4]}
print("\nDictionary with the use of Mixed Keys: ")
print(Dict)

Dictionary with the use of Integer Keys:
{1: 'Geeks', 2: 'For', 3: 'Geeks'}

Dictionary with the use of Mixed Keys:
{'Name': 'Geeks', 1: [1, 2, 3, 4]}

In [267]:
# Creating an empty Dictionary
Dict = {}
print("Empty Dictionary: ")
print(Dict)
 
# Creating a Dictionary
# with dict() method
Dict = dict({1: 'Geeks', 2: 'For', 3:'Geeks'})
print("\nDictionary with the use of dict(): ")
print(Dict)
 
# Creating a Dictionary
# with each item as a Pair
Dict = dict([(1, 'Geeks'), (2, 'For')])
print("\nDictionary with each item as a pair: ")
print(Dict)

Empty Dictionary:
{}

Dictionary with the use of dict():
{1: 'Geeks', 2: 'For', 3: 'Geeks'}

Dictionary with each item as a pair:
{1: 'Geeks', 2: 'For'}

In [268]:
# Creating a Nested Dictionary
# as shown in the below image
Dict = {1: 'Geeks', 
        2: 'For',
        3:{'A' : 'Welcome', 
           'B' : 'To', 
           'C' : 'Geeks'
          }
       }
 
print(Dict)

{1: 'Geeks', 2: 'For', 3: {'A': 'Welcome', 'B': 'To', 'C': 'Geeks'}}

In [269]:
# Adding elements to a Dictionary

# Creating an empty Dictionary
Dict = {}
print("Empty Dictionary: ")
print(Dict)
 
# Adding elements one at a time
Dict[0] = 'Geeks'
Dict[2] = 'For'
Dict[3] = 1
print("\nDictionary after adding 3 elements: ")
print(Dict)
 
# Adding set of values
# to a single Key
Dict['Value_set'] = 2, 3, 4
print("\nDictionary after adding 3 elements: ")
print(Dict)
 
# Updating existing Key's Value
Dict[2] = 'Welcome'
print("\nUpdated key value: ")
print(Dict)
 
# Adding Nested Key value to Dictionary
Dict[5] = {'Nested' :{'1' : 'Life', '2' : 'Geeks'}}
print("\nAdding a Nested Key: ")
print(Dict)

Empty Dictionary:
{}

Dictionary after adding 3 elements:
{0: 'Geeks', 2: 'For', 3: 1}

Dictionary after adding 3 elements:
{0: 'Geeks', 2: 'For', 3: 1, 'Value_set': (2, 3, 4)}

Updated key value:
{0: 'Geeks', 2: 'Welcome', 3: 1, 'Value_set': (2, 3, 4)}

Adding a Nested Key:
{0: 'Geeks', 2: 'Welcome', 3: 1, 'Value_set': (2, 3, 4), 5: {'Nested': {'1': 'Life', '2': 'Geeks'}}}

In [270]:
# Python program to demonstrate 
# accessing a element from a Dictionary
 
# Creating a Dictionary
Dict = {1: 'Geeks', 
        'name': 'For', 
        3: 'Geeks'}
 
# accessing a element using key
print("Accessing a element using key:")
print(Dict['name'])
 
# accessing a element using key
print("Accessing a element using key:")
print(Dict[1])

# Creating a Dictionary
Dict = {1: 'Geeks', 'name': 'For', 3: 'Geeks'}
 
# accessing a element using get()
# method
print("Accessing a element using get:")
print(Dict.get(3))

Accessing a element using key:
For
Accessing a element using key:
Geeks
Accessing a element using get:
Geeks

In [271]:
# Accessing an element of a nested dictionary

# Creating a Dictionary
Dict = {'Dict1': {1: 'Geeks'},
        'Dict2': {'Name': 'For'}}
 
# Accessing element using key
print(Dict['Dict1'])
print(Dict['Dict1'][1])
print(Dict['Dict2']['Name'])

{1: 'Geeks'}
Geeks
For

In [272]:
# Removing Elements from Dictionary


# Initial Dictionary
Dict = { 5 : 'Welcome', 6 : 'To', 7 : 'Geeks',
        'A' : {1 : 'Geeks', 2 : 'For', 3 : 'Geeks'},
        'B' : {1 : 'Geeks', 2 : 'Life'}}
print("Initial Dictionary: ")
print(Dict)
 
# Deleting a Key value
del Dict[6]
print("\nDeleting a specific key: ")
print(Dict)
 
# Deleting a Key from
# Nested Dictionary
del Dict['A'][2]
print("\nDeleting a key from Nested Dictionary: ")
print(Dict)


# Creating a Dictionary
Dict = {1: 'Geeks', 'name': 'For', 3: 'Geeks'}
 
# Deleting a key
# using pop() method
pop_ele = Dict.pop(1)
print('\nDictionary after deletion: ' + str(Dict))
print('Value associated to poped key is: ' + str(pop_ele))

# Creating Dictionary
Dict = {1: 'Geeks', 'name': 'For', 3: 'Geeks'}
 
# Deleting an arbitrary key
# using popitem() function
pop_ele = Dict.popitem()
print("\nDictionary after deletion: " + str(Dict))
print("The arbitrary pair returned is: " + str(pop_ele))

Initial Dictionary:
{5: 'Welcome', 6: 'To', 7: 'Geeks', 'A': {1: 'Geeks', 2: 'For', 3: 'Geeks'}, 'B': {1: 'Geeks', 2: 'Life'}}

Deleting a specific key:
{5: 'Welcome', 7: 'Geeks', 'A': {1: 'Geeks', 2: 'For', 3: 'Geeks'}, 'B': {1: 'Geeks', 2: 'Life'}}

Deleting a key from Nested Dictionary:
{5: 'Welcome', 7: 'Geeks', 'A': {1: 'Geeks', 3: 'Geeks'}, 'B': {1: 'Geeks', 2: 'Life'}}

Dictionary after deletion: {'name': 'For', 3: 'Geeks'}
Value associated to poped key is: Geeks

Dictionary after deletion: {1: 'Geeks', 'name': 'For'}
The arbitrary pair returned is: (3, 'Geeks')

In [273]:
# Creating a Dictionary
Dict = {1: 'Geeks', 'name': 'For', 3: 'Geeks'}
 
# Deleting entire Dictionary

Dict.clear()
print("\nDeleting Entire Dictionary: ")
print(Dict)

# removed everything
del(Dict)
print(Dict)

Deleting Entire Dictionary:
{}

NameError: name 'Dict' is not defined

#### Dictionary Methods


|Methods     |	Description                                                                         |
|------------|---------------------------------------------------------------------------------------|
|copy()	     |  They copy() method returns a shallow copy of the dictionary.                           |
|clear()     |  The clear() method removes all items from the dictionary.                           |
|pop()	     |  Removes and returns an element from a dictionary having the given key.                 |
|popitem()   |	Removes the arbitrary key-value pair from the dictionary and returns it as tuple.   |
|get()	     |  It is a conventional method to access a value for a key.                               |
|dictionary_name.values()|	returns a list of all the values available in a given dictionary.   |
|str()	                 |  Produces a printable string representation of a dictionary.                            |
|update()    |	Adds dictionary dict2’s key-values pairs to dict.                                   |
|setdefault()|	Set dict\[key\]=default if key is not already in dict.                          |
|keys()	     |  Returns list of dictionary dict’s keys.                                                |
|items()     |	Returns a list of dict’s (key, value) tuple pairs.                                  |
|has_key()   |	Returns true if key in dictionary dict, false otherwise.                            |
|fromkeys()  |	Create a new dictionary with keys from seq and values set to value.             |
|type()	     |  Returns the type of the passed variable.                                               |
|cmp()	     |  Compares elements of both dict.                                                        |

# 5 Control Flow Statements

## 5.1 Conditionals
### 5.1.1 If

In [274]:
x = 12
if x > 10:
    print("Hello")

Hello

### 5.1.2 If-else

In [275]:
x = 12
if 10 < x < 11:
    print("hello")
else:
    print("world")

world

### 5.1.3 Else if

In [276]:
x = 10
y = 12
if x > y:
    print("x>y")
elif x < y:
    print("x<y")
else:
    print("x=y")

x<y

In [277]:
x = 10
y = 12
if x > y:
    print( "x>y")
elif x < y:
    print( "x<y")
    if x==10:
        print ("x=10")
    else:
        print ("invalid")
else:
    print ("x=y")

x<y
x=10

## 5.2 Loops

### 5.2.1 For

In [278]:
for ch in 'abc':
    print(ch)
total = 0
for i in range(5):
    total += i
for i,j in [(1,2),(3,1)]:
    total += i**j
print("total =",total)

a
b
c
total = 14

In [279]:
list_of_lists = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
for list1 in list_of_lists:
        print(list1)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [280]:
list_of_lists = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
total=0
for list1 in list_of_lists:
    for x in list1:
        total = total+x
print(total)

45

In [281]:
print("reversed: \t",end="")
for ch in reversed("abc"):
    print(ch,end=";")
print("\nenuemerated:\t",end="")
for i,ch in enumerate("abc"):
    print(i,"=",ch,end="; ")
print("\nzip'ed: ")
for a,x in zip("abc","xyz"):
    print(a,":",x)

reversed: 	c;b;a;
enuemerated:	0 = a; 1 = b; 2 = c;
zip'ed:
a : x
b : y
c : z

### 5.2.2 While

In [282]:
i = 1
while i < 3: # similar to for if continue
    print(i ** 2)
    i = i+1
print('Bye')

1
4
Bye

### 5.2.3 Break

In [283]:
for i in range(100):
    print(i,end="...")
    if i>=7:
        break
    print("completed.")

0...completed.
1...completed.
2...completed.
3...completed.
4...completed.
5...completed.
6...completed.
7...

### 5.2.4 Continue

In [284]:
for i in range(10):
    if i>4:
        print("Ignored",i)
        continue
    # this statement is not reach if i > 4
    print("Processed",i)

Processed 0
Processed 1
Processed 2
Processed 3
Processed 4
Ignored 5
Ignored 6
Ignored 7
Ignored 8
Ignored 9

### 5.2.5 Else statements on loops

In [285]:
count = 0
while count < 10:
    count += 1
    if count % 2 == 0: # even number
        count += 2
        continue
    elif 5 < count < 9:
        break # abnormal exit if we get here!
    print("count =",count)
else: # while-else
    print("Normal exit with",count)

count = 1
count = 5
count = 9
Normal exit with 12

## 5.3 Catching exceptions

In [286]:
try:
    count=0
    while True:
        while True:
            while True:
                print("Looping")
                count = count + 1
                if count > 3:
                    raise Exception("abort") # exit every loop or function
                if count > 4:
                    raise StopIteration("I'm bored") # built in exception type
except StopIteration as e:
    print("Stopped iteration:",e)
except Exception as e: # this is where we go when an exception is raised
    print("Caught exception:",e)
finally:
    print("All done")

Looping
Looping
Looping
Looping
Caught exception: abort
All done

In [288]:
try:
    for i in [2,1.5,0.0,3]:
        inverse = 1.0/(i+1e-6)
except Exception as e: # no matter what exception
    print("Cannot calculate inverse because:", e)

# 6 Functions

In [289]:
print("Hello Jack.")
print("Jack, how are you?")

Hello Jack.
Jack, how are you?

In [290]:
def firstfunc():
    print("Hello Jack.")
    print("Jack, how are you?")
firstfunc() # execute the function

Hello Jack.
Jack, how are you?

In [291]:
def firstfunc(username):
    print("Hello %s." % username)
    print(username + ',' ,"how are you?")

In [292]:
name1 = 'Sally' # or use input('Please enter your name : ')

In [293]:
firstfunc(name1)

Hello Sally.
Sally, how are you?

## 6.1 Return Statement

In [295]:
def times(x,y):
    z = x*y
    return z, x, y
    z = 17 # this statement is never executed

In [296]:
c = times(4,5)
print(c)

(20, 4, 5)

In [297]:
def times(x,y):
    '''This multiplies the two input arguments'''
    return x*y

In [298]:
c = times(4,5)
print(c)

20

In [299]:
help(times)

Help on function times in module __main__:

times(x, y)
    This multiplies the two input arguments

Multiple variable can also be returned as a tuple. However this tends not to be very readable when returning many value, and can easily introduce errors when the order of return values is interpreted incorrectly.

In [300]:
eglist = [10,50,30,12,6,8,100]

In [301]:
def egfunc(eglist):
    highest = max(eglist)
    lowest = min(eglist)
    first = eglist[0]
    last = eglist[-1]
    return highest,lowest,first,last

In [302]:
egfunc(eglist)

(100, 6, 10, 100)

In [303]:
a,b,c,d = egfunc(eglist)
print(' a =',a,' b =',b,' c =',c,' d =',d)

 a = 100  b = 6  c = 10  d = 100

## 6.2 Default arguments

In [304]:
def implicitadd(x,y=3,z=0):
    print("%d + %d + %d = %d"%(x,y,z,x+y+z))
    return x+y+z

Now if the second argument is not defined when calling the `implicitadd( )` function then it considered as 3.

In [305]:
implicitadd(4)

4 + 3 + 0 = 7

7

In [306]:
implicitadd(4,4)
implicitadd(4,5,6)
implicitadd(4,z=7)
implicitadd(2,y=1,z=9)
implicitadd(x=1)

4 + 4 + 0 = 8
4 + 5 + 6 = 15
4 + 3 + 7 = 14
2 + 1 + 9 = 12
1 + 3 + 0 = 4

4

## 6.3 Any number of arguments

In [307]:
def add_n(first,*args):
    "return the sum of one or more numbers"
    reslist = [first] + [value for value in args]
    print(reslist)
    return sum(reslist)

In [310]:
add_n(1,2,3,4,5)

[1, 2, 3, 4, 5]

15

In [311]:
add_n(6.5)

[6.5]

6.5

In [312]:
# Arbitrary numbers of named arguments can also be accepted using `**`. 
# When the function is called all of the additional named arguments 
# are provided in a dictionary 

def namedArgs(**names):
    'print the named arguments'
    # names is a dictionary of keyword : value
    print("  ".join(name+"="+str(value) 
                    for name,value in names.items()))

namedArgs(x=3*4,animal='mouse',z=(1+2j))

x=12  animal=mouse  z=(1+2j)

##  6.4 Global and Local Variables

In [313]:
eg1 = [1,2,3,4,5]

In [314]:
def egfunc1():
    x=1
    def thirdfunc():
        x=2
        print("Inside thirdfunc x =", x) 
    thirdfunc()
    print("Outside x =", x)

In [315]:
x=12
egfunc1()
print("Global x =",x)

Inside thirdfunc x = 2
Outside x = 1
Global x = 12

In [316]:
eg3 = [1,2,3,4,5]

In [317]:
def egfunc1():
    x = 1.0 # local variable for egfunc1
    def thirdfunc():
        global x # globally defined variable 
        x = 2.0
        print("Inside thirdfunc x =", x) 
    thirdfunc()
    print("Outside x =", x)

In [318]:
egfunc1()
print("Globally defined x =",x)

Inside thirdfunc x = 2.0
Outside x = 1.0
Globally defined x = 2.0

## 6.5 Lambda Functions

In [319]:
z = lambda x: x * x # def z(x): return x*x

In [320]:
z(8)

64

In [321]:
# Lambda functions can also be used to compose functions

def double(x):
    return 2*x
def square(x):
    return x*x
def f_of_g(f,g):
    "Compose two functions of a single variable"
    return lambda x: f(g(x))
doublesquare= f_of_g(double,square)
print("doublesquare is a",type(doublesquare))
doublesquare(3)

doublesquare is a <class 'function'>

18

In [322]:
# Functions are objects
# Functions are a type of "value" that can be assigned to variables, 
# stored in lists and so on.

def f(x):
    return 2*x**2 +3*x-5
g = f
print("g(3.6) =",g(3.6) )

for func in [f,square, double, doublesquare]:
    print("evaluating at 2.0 yields:", func(2.0) )

g(3.6) = 31.72
evaluating at 2.0 yields: 9.0
evaluating at 2.0 yields: 4.0
evaluating at 2.0 yields: 4.0
evaluating at 2.0 yields: 8.0

### *6.6 Class

In [323]:
class Greeter:
    # Constructor
    def __init__(self, name):
        self.name = name  # Create an instance variable
    # Instance method
    def greet(self, loud=False):
        if loud:
            print('HELLO, {}'.format(self.name.upper()))
        else:
            print('Hello, {}!'.format(self.name))

g = Greeter('Fred')  # Construct an instance of the Greeter class
g.greet()            # Call an instance method; prints "Hello, Fred"
g.greet(loud=True)   # Call an instance method; prints "HELLO, FRED!"

Hello, Fred!
HELLO, FRED